@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    padding: 0;
    margin: 0;
}

div#container1{
    background-image: url(pacote-d012/imagens/background001.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

div#container2{
    background-image: url('pacote-d012/imagens/background002.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
}

header {
    background-color: black;
    min-height: 150px;
    
}

h1 {
    font-family: 'Passion One', cursive;
    color: white;
    text-align: center;
    font-size: 8.30vw;
    padding-top: 5%;
}

header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    padding-bottom: 5%;
}

section {
    padding-top:60px;
    padding-left: 20px;
    padding-bottom: 60px;
}

section.dupla {
    background-color: white;
    box-shadow: 0px 0px 20px black;

}

section.branco {
    background-color: white;
    box-shadow: 0px 0px 20px black;
}

section.transp {
    color: white;
    text-shadow: 1px 1px 3px black;
}

article.box {
    background-color: rgba(0, 0, 0, 0.336);
    width: 45vw;
}

article p {
    font-family: 'Sriracha', cursive;
    font-size: 3.5vw;
    padding: 10px;
    font-style: italic;
}

article.first {
    padding-top: 50px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;

}